.tooltip-container {
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
}

.hoverbutton {
  padding: 10px;
  border-radius: 10px;
  border-color: black;
  border-width: medium;
  color: black;
  font-family: "Times New Roman", Times, serif;
  font-weight: 700;
  background-color: white;
  border-color: grey;
  box-shadow: 4px 4px grey;
  transition: transform 0.2s ease-in-out, box-shadow 0.2s ease-in-out,
    border-color 0.2s ease-in-out;
}

.hoverbutton:hover {
  transform: scale(1.04);
  box-shadow: 2px 2px grey;
  border-color: black;
}

.tooltip {
  position: absolute;
  background-color: #be2055;
  color: #fff;
  width: 140px;
  padding: 10px;
  border-radius: 10px;
  opacity: 0;
  visibility: hidden;
  transform: translateY(-50%);
  text-align: center;
  transition: opacity 0.2s, visibility 0.2s, transform 0.4s;
}

.tooltip::before {
  content: "";
  position: absolute;
  border-style: solid;
  border-width: 8px;
  transform: translateX(-50%);
}

.tooltip-container:hover .tooltip {
  opacity: 1;
  visibility: visible;
}

/* Tooltip Positioning */
.tooltip.top {
  bottom: calc(100% + 5px);
  left: 50%;
  transform: translateX(-50%);
  margin-bottom: 7px;
}
.tooltip.top::before {
  bottom: 10%;
  left: 50%;
  bottom: -14px;
  border-color: #be2055 transparent transparent transparent;
}

.tooltip.bottom {
  top: calc(100% + 5px);
  left: 50%;
  transform: translateX(-50%);
  margin-top: 7px;
}
.tooltip.bottom::before {
  top: 10%;
  left: 50%;
  top: -14px;
  border-color: transparent transparent #be2055 transparent;
}

.tooltip.right {
  top: 50%;
  left: calc(100% + 5px);
  transform: translateY(-50%);
  margin-left: 7px;
}
.tooltip.right::before {
  top: 40%;
  left: -7px;
  border-color: transparent #be2055 transparent transparent;
}

.tooltip.left {
  top: 50%;
  right: calc(100% + 5px);
  transform: translateY(-50%);

  margin-right: 7px;
}
.tooltip.left::before {
  top: 40%;
  right: -22px;
  border-color: transparent transparent transparent #be2055;
}
